#### Instal base

In [640]:
import pandas as pd
import seaborn as sns
import numpy as np

#### Setting the DF up

In [641]:
path = 'https://raw.githubusercontent.com/becodeorg/GNT-Arai-2.31/master/content/additional_resources/datasets/NYC%20trees/data_100000.csv?token=AJZF73LAR5VMWM3XUEBC4W3A43EJM'
NYC_Three_Data_Original = pd.read_csv(path, sep=',')
df_copy = NYC_Three_Data_Original.copy()
final_copy = NYC_Three_Data_Original.copy()

In [642]:
NYC_Three_Data_Original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  100000 non-null  object
 1   tree_id     100000 non-null  int64
 2   block_id    100000 non-null  int64
 3   the_geom    100000 non-null  object
 4   tree_dbh    100000 non-null  int64
 5   stump_diam  100000 non-null  int64
 6   curb_loc    100000 non-null  object
 7   status      100000 non-null  object
 8   health      95007 non-null   object
 9   spc_latin   95008 non-null   object
 10  spc_common  95008 non-null   object
 11  steward     95008 non-null   object
 12  guards      95008 non-null   object
 13  sidewalk    95008 non-null   object
 14  user_type   100000 non-null  object
 15  problems    95008 non-null   object
 16  root_stone  100000 non-null  object
 17  root_grate  100000 non-null  object
 18  root_other  100000 non-null  object
 19  trnk_wire   100000 non-null  object
 20  trnk_light  100000 non-null  object
 21  trnk_other  100000 non-null  object
 22  brnch_ligh  100000 non-null  object
 23  brnch_shoe  100000 non-null  object
 24  brnch_othe  100000 non-null  object
 25  address     100000 non-null  object
 26  zipcode     100000 non-null  int64
 27  zip_city    100000 non-null  object
 28  cb_num      100000 non-null  int64
 29  borocode    100000 non-null  int64
 30  boroname    100000 non-null  object
 31  cncldist    100000 non-null  int64
 32  st_assem    100000 non-null  int64
 33  st_senate   100000 non-null  int64
 34  nta         100000 non-null  object
 35  nta_name    100000 non-null  object
 36  boro_ct     100000 non-null  int64
 37  state       100000 non-null  object
 38  latitude    100000 non-null  float64
 39  longitude   100000 non-null  float64
 40  x_sp        100000 non-null  float64
 41  y_sp        100000 non-null  float64
dtypes: float64(4), int64(11), object(27)
memory usage: 32.0+ MB

In [643]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  100000 non-null  object
 1   tree_id     100000 non-null  int64
 2   block_id    100000 non-null  int64
 3   the_geom    100000 non-null  object
 4   tree_dbh    100000 non-null  int64
 5   stump_diam  100000 non-null  int64
 6   curb_loc    100000 non-null  object
 7   status      100000 non-null  object
 8   health      95007 non-null   object
 9   spc_latin   95008 non-null   object
 10  spc_common  95008 non-null   object
 11  steward     95008 non-null   object
 12  guards      95008 non-null   object
 13  sidewalk    95008 non-null   object
 14  user_type   100000 non-null  object
 15  problems    95008 non-null   object
 16  root_stone  100000 non-null  object
 17  root_grate  100000 non-null  object
 18  root_other  100000 non-null  object
 19  trnk_wire   100000 non-null  object
 20  trnk_light  100000 non-null  object
 21  trnk_other  100000 non-null  object
 22  brnch_ligh  100000 non-null  object
 23  brnch_shoe  100000 non-null  object
 24  brnch_othe  100000 non-null  object
 25  address     100000 non-null  object
 26  zipcode     100000 non-null  int64
 27  zip_city    100000 non-null  object
 28  cb_num      100000 non-null  int64
 29  borocode    100000 non-null  int64
 30  boroname    100000 non-null  object
 31  cncldist    100000 non-null  int64
 32  st_assem    100000 non-null  int64
 33  st_senate   100000 non-null  int64
 34  nta         100000 non-null  object
 35  nta_name    100000 non-null  object
 36  boro_ct     100000 non-null  int64
 37  state       100000 non-null  object
 38  latitude    100000 non-null  float64
 39  longitude   100000 non-null  float64
 40  x_sp        100000 non-null  float64
 41  y_sp        100000 non-null  float64
dtypes: float64(4), int64(11), object(27)
memory usage: 32.0+ MB

## Deleting and changing names of columns ##

In [644]:
#Rename the column tree_dbh to tree_diam
df_copy = df_copy.rename(columns={'tree_dbh': 'tree_diam',})

In [645]:
#Remove the_geom because we have latitude and longitude
df_copy = df_copy.drop(columns='the_geom')

In [646]:
#Remove the common name, only one latin name / science correct
df_copy = df_copy.drop(columns='spc_common')

In [647]:
#We can extract problems from the following columns root_stone, root_gather.., branch..
df_copy = df_copy.drop(columns='problems')

In [648]:
#We can define the city with zip code
df_copy = df_copy.drop(columns='zip_city')

In [649]:
#We keep the borough name
df_copy = df_copy.drop(columns='borocode')

In [650]:
#For technical reasons we keep nta code
df_copy = df_copy.drop(columns='nta')

In [651]:
#This is about New York, right ?
df_copy = df_copy.drop(columns='state')

In [652]:
#This is about New York, right ?
df_copy = df_copy.drop(columns='st_assem')

In [653]:
#This is about New York, right ?
df_copy = df_copy.drop(columns='cncldist')

In [654]:
#This is about New York, right ?
df_copy = df_copy.drop(columns='st_senate')

In [655]:
#This is about New York, right ?
df_copy = df_copy.drop(columns='boro_ct')

In [656]:
#This is about New York, right ?
df_copy = df_copy.drop(columns='tree_id')

In [657]:
#This is about New York, right ?#This is about New York, right ?
df_copy = df_copy.drop(columns='block_id')

## CONVERTING DTYPES and CHANGING VALUES of COLUMNS ##

In [658]:
df_copy['created_at'] = df_copy['created_at'].astype('datetime64[ns]')

Stewards collumn and copy for numbers of stewards collumn

In [659]:
df_copy['nr_of_stewards'] = df_copy['steward'].apply(lambda x: x if not pd.isnull(x) else 'None')

In [660]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 30 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   created_at      100000 non-null  datetime64[ns]
 1   tree_diam       100000 non-null  int64
 2   stump_diam      100000 non-null  int64
 3   curb_loc        100000 non-null  object
 4   status          100000 non-null  object
 5   health          95007 non-null   object
 6   spc_latin       95008 non-null   object
 7   steward         95008 non-null   object
 8   guards          95008 non-null   object
 9   sidewalk        95008 non-null   object
 10  user_type       100000 non-null  object
 11  root_stone      100000 non-null  object
 12  root_grate      100000 non-null  object
 13  root_other      100000 non-null  object
 14  trnk_wire       100000 non-null  object
 15  trnk_light      100000 non-null  object
 16  trnk_other      100000 non-null  object
 17  brnch_ligh      100000 non-null  object
 18  brnch_shoe      100000 non-null  object
 19  brnch_othe      100000 non-null  object
 20  address         100000 non-null  object
 21  zipcode         100000 non-null  int64
 22  cb_num          100000 non-null  int64
 23  boroname        100000 non-null  object
 24  nta_name        100000 non-null  object
 25  latitude        100000 non-null  float64
 26  longitude       100000 non-null  float64
 27  x_sp            100000 non-null  float64
 28  y_sp            100000 non-null  float64
 29  nr_of_stewards  100000 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(4), object(21)
memory usage: 22.9+ MB

In [661]:
#def steward_function(df, column):
    #for word in column :
       # if word != "None":
        #    return 1
        #else :
         #   return 0

#df_copy['steward'] = steward_function(df_copy,'steward')

#none = (df_copy.steward == 'None')
#column_name_steward = 'steward'
#df_copy.loc[alive, column_name_steward] = 0

#one_or_two = (df_copy.steward == '1or2')
#column_name_steward = 'steward'
#df_copy.loc[alive, column_name_steward] = 1

#three_or_four = (df_copy.steward == '3or4')
#column_name_steward = 'steward'
#df_copy.loc[alive, column_name_steward] = 1

#four_or_more = (df_copy.steward == '4orMore')
#column_name_steward = 'steward'
#df_copy.loc[alive, column_name_steward] = 1

df_copy.loc[df_copy.steward == "None", 'steward'] = 0
df_copy.loc[df_copy.steward == "1or2", 'steward'] = 1
df_copy.loc[df_copy.steward == "3or4", 'steward'] = 1
df_copy.loc[df_copy.steward == "4orMore", 'steward'] = 1
df_copy['steward'] = df_copy['steward'].astype('bool')

In [662]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 30 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   created_at      100000 non-null  datetime64[ns]
 1   tree_diam       100000 non-null  int64
 2   stump_diam      100000 non-null  int64
 3   curb_loc        100000 non-null  object
 4   status          100000 non-null  object
 5   health          95007 non-null   object
 6   spc_latin       95008 non-null   object
 7   steward         100000 non-null  bool
 8   guards          95008 non-null   object
 9   sidewalk        95008 non-null   object
 10  user_type       100000 non-null  object
 11  root_stone      100000 non-null  object
 12  root_grate      100000 non-null  object
 13  root_other      100000 non-null  object
 14  trnk_wire       100000 non-null  object
 15  trnk_light      100000 non-null  object
 16  trnk_other      100000 non-null  object
 17  brnch_ligh      100000 non-null  object
 18  brnch_shoe      100000 non-null  object
 19  brnch_othe      100000 non-null  object
 20  address         100000 non-null  object
 21  zipcode         100000 non-null  int64
 22  cb_num          100000 non-null  int64
 23  boroname        100000 non-null  object
 24  nta_name        100000 non-null  object
 25  latitude        100000 non-null  float64
 26  longitude       100000 non-null  float64
 27  x_sp            100000 non-null  float64
 28  y_sp            100000 non-null  float64
 29  nr_of_stewards  100000 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(4), int64(4), object(20)
memory usage: 22.2+ MB

In [663]:
df_copy.loc[df_copy.sidewalk == "NoDamage", 'sidewalk'] = 0
df_copy.loc[df_copy.sidewalk == "Damage", 'sidewalk'] = 1
df_copy['sidewalk'] = df_copy['sidewalk'].astype('bool')

In [664]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 30 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   created_at      100000 non-null  datetime64[ns]
 1   tree_diam       100000 non-null  int64
 2   stump_diam      100000 non-null  int64
 3   curb_loc        100000 non-null  object
 4   status          100000 non-null  object
 5   health          95007 non-null   object
 6   spc_latin       95008 non-null   object
 7   steward         100000 non-null  bool
 8   guards          95008 non-null   object
 9   sidewalk        100000 non-null  bool
 10  user_type       100000 non-null  object
 11  root_stone      100000 non-null  object
 12  root_grate      100000 non-null  object
 13  root_other      100000 non-null  object
 14  trnk_wire       100000 non-null  object
 15  trnk_light      100000 non-null  object
 16  trnk_other      100000 non-null  object
 17  brnch_ligh      100000 non-null  object
 18  brnch_shoe      100000 non-null  object
 19  brnch_othe      100000 non-null  object
 20  address         100000 non-null  object
 21  zipcode         100000 non-null  int64
 22  cb_num          100000 non-null  int64
 23  boroname        100000 non-null  object
 24  nta_name        100000 non-null  object
 25  latitude        100000 non-null  float64
 26  longitude       100000 non-null  float64
 27  x_sp            100000 non-null  float64
 28  y_sp            100000 non-null  float64
 29  nr_of_stewards  100000 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(4), int64(4), object(19)
memory usage: 21.6+ MB

### Changing Values in Columns stump_diam

In [665]:
## Changing Values in Columns##add None values to stump_diam if = 0 and status Alive or Dead

alive = (df_copy.status == 'Alive')
column_name = 'stump_diam'
df_copy.loc[alive, column_name] = 'None'

dead = (df_copy.status == 'Dead')## Converting Dtypes of Columns - deleting and changing names of columns ##
column_name = 'stump_diam'
df_copy.loc[dead, column_name] = 'None'

In [666]:
df_copy.stump_diam.value_counts()

None    97169
5         145
12        136
4         133
6         127
        ...
49          1
69          1
67          1
64          1
43          1
Name: stump_diam, Length: 75, dtype: int64

In [667]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 30 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   created_at      100000 non-null  datetime64[ns]
 1   tree_diam       100000 non-null  int64
 2   stump_diam      100000 non-null  object
 3   curb_loc        100000 non-null  object
 4   status          100000 non-null  object
 5   health          95007 non-null   object
 6   spc_latin       95008 non-null   object
 7   steward         100000 non-null  bool
 8   guards          95008 non-null   object
 9   sidewalk        100000 non-null  bool
 10  user_type       100000 non-null  object
 11  root_stone      100000 non-null  object
 12  root_grate      100000 non-null  object
 13  root_other      100000 non-null  object
 14  trnk_wire       100000 non-null  object
 15  trnk_light      100000 non-null  object
 16  trnk_other      100000 non-null  object
 17  brnch_ligh      100000 non-null  object
 18  brnch_shoe      100000 non-null  object
 19  brnch_othe      100000 non-null  object
 20  address         100000 non-null  object
 21  zipcode         100000 non-null  int64
 22  cb_num          100000 non-null  int64
 23  boroname        100000 non-null  object
 24  nta_name        100000 non-null  object
 25  latitude        100000 non-null  float64
 26  longitude       100000 non-null  float64
 27  x_sp            100000 non-null  float64
 28  y_sp            100000 non-null  float64
 29  nr_of_stewards  100000 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(4), int64(3), object(20)
memory usage: 21.6+ MB

### Removing non null values of Health, Latin Name, Guards

In [668]:
df_copy['health'] = df_copy['health'].apply(lambda x: x if not pd.isnull(x) else 'None')
df_copy['spc_latin'] = df_copy['spc_latin'].apply(lambda x: x if not pd.isnull(x) else 'Not-Specified')
df_copy['guards'] = df_copy['guards'].apply(lambda x: x if not pd.isnull(x) else 'Not-Specified')

In [671]:
df_copy.spc_latin.value_counts()

Platanus x acerifolia                 11976
Gleditsia triacanthos var. inermis    10648
Pyrus calleryana                       8886
Quercus palustris                      7748
Acer platanoides                       5925
                                      ...
Alnus glutinosa                           5
Cedrus atlantica                          5
Maclura pomifera                          4
Pinus sylvestris                          3
Pinus virginiana                          2
Name: spc_latin, Length: 126, dtype: int64

In [670]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 30 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   created_at      100000 non-null  datetime64[ns]
 1   tree_diam       100000 non-null  int64
 2   stump_diam      100000 non-null  object
 3   curb_loc        100000 non-null  object
 4   status          100000 non-null  object
 5   health          100000 non-null  object
 6   spc_latin       100000 non-null  object
 7   steward         100000 non-null  bool
 8   guards          100000 non-null  object
 9   sidewalk        100000 non-null  bool
 10  user_type       100000 non-null  object
 11  root_stone      100000 non-null  object
 12  root_grate      100000 non-null  object
 13  root_other      100000 non-null  object
 14  trnk_wire       100000 non-null  object
 15  trnk_light      100000 non-null  object
 16  trnk_other      100000 non-null  object
 17  brnch_ligh      100000 non-null  object
 18  brnch_shoe      100000 non-null  object
 19  brnch_othe      100000 non-null  object
 20  address         100000 non-null  object
 21  zipcode         100000 non-null  int64
 22  cb_num          100000 non-null  int64
 23  boroname        100000 non-null  object
 24  nta_name        100000 non-null  object
 25  latitude        100000 non-null  float64
 26  longitude       100000 non-null  float64
 27  x_sp            100000 non-null  float64
 28  y_sp            100000 non-null  float64
 29  nr_of_stewards  100000 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(4), int64(3), object(20)
memory usage: 21.6+ MB

### Writing to CVS File

In [673]:
df_copy.to_csv('new_york_trees', sep=',', encoding='utf-8')